<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866383898236-5mu26iv2tb74f4kbrnqq5oss3gns8ghg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866383898236-5mu26iv2tb74f4kbrnqq5oss3gns8ghg</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Sd45Ia0VhUCA4vJoL-Ah6eb30EOmB3s</string>
	<key>GCM_SENDER_ID</key>
	<string>866383898236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.anupam.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-18b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-18b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866383898236:ios:b8cd55cbf361fbae6d4bf9</string>
</dict>
</plist>